/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode


# Created by https://www.toptal.com/developers/gitignore/api/laravel
# Edit at https://www.toptal.com/developers/gitignore?templates=laravel

### Laravel ###
/vendor/
/node_modules/
.env
.env.backup
.env.dusk.local
.env.testing
.env.old
.env.save
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
/public/hot
/public/storage
/storage/*.key
/storage/framework/
/storage/logs/
/tests/Browser/screenshots/
/tests/Browser/console/
.phpunit.result.cache
.php_cs.cache
.phpunit.result.cache
docker-compose.override.yml
docker-compose.override.local.yml
